*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Bagian Atas */
.medsos{
    padding: 5px 0;
    background-color: cyan;
}

a{
    color: inherit;
    text-decoration: none;
}

.medsos ul li{
    display: inline-block;
    color: blue;
    margin: 10px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container:after{
    content: '';
    display: block;
    clear: both;
}

/* Header */
header h1{
    float: left;
    padding: 15px 0;
    color: red;
    font-size: 25px;
    word-spacing: 2px;
}

header ul{
    float: right;
}

header ul li{
    display: inline-block;
}

header ul li a{
    padding: 25px 20px;
    display: inline-block;
}

header ul li a:hover{
    background-color: red;
    color: whitesmoke;
}

.active{
    background-color: red;
    color: whitesmoke;
}

/* Product.html */
.gambar{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.gambar .foto img{
    width: 300px;
}

.foto{
    border: 1px solid orange;
    margin: 1px;
    text-align: center;
}

.foto a{
    border: 1px solid orange;
    padding: 1px;
    color: peachpuff;
    background-color: red;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Detail Product */
/* Product 1 */
#detail-product1{
    padding: 10px;
    background-color: peachpuff;
    margin: 10px;
}

#detail-product,ul li{
    text-align: left;
    word-spacing: 2px;
}

/* Product 2 */
#detail-product2{
    padding: 10px;
    background-color: yellow;
    margin: 10px;
}

#detail-product2,ul li{
    text-align: left;
    word-spacing: 2px;
}

/* Product 3 */
#detail-product3{
    padding: 10px;
    background-color: yellow;
    margin: 10px;
}

#detail-product3,ul li{
    text-align: left;
    word-spacing: 2px;
}

/* Product 4 */
#detail-product4{
    padding: 10px;
    background-color: yellow;
    margin: 10px;
}

#detail-product4,ul li{
    text-align: left;
    word-spacing: 2px;
}

/* Product 5 */
#detail-product5{
    padding: 10px;
    background-color: yellow;
    margin: 10px;
}

#detail-product5,ul li{
    text-align: left;
    word-spacing: 2px;
}

/* Product 6 */
#detail-product6{
    padding: 10px;
    background-color: yellow;
    margin: 10px;
}

#detail-product6,ul li{
    text-align: left;
    word-spacing: 2px;
}

/* Footer */
.footer{
    text-align: center;
    margin: 20px;
    color: black;
    background: yellow;
    height: 70px;
}

.footer p{
    padding-top: 20px;
}

/* Buku Tamu.php */
.buku-tamu{
    /* padding: 20px; */
    background-color: gray;
    margin: 10px;
    border: solid salmon 2px;
}

/* Javascript jam digital */
.jam_digital{
    overflow: hidden;
    width: 330px;
    margin: 30px auto;
    border: 5px solid red;
    background-color: yellow;
}

.kotak{
    float: left;
    width: 110px;
    height: 100px;
}

.jam_digital p{
    color: rgb(12, 48, 48);
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
}

/* Banner */
.banner{
    height: 60vh;
    background-image: url("bg1.jpeg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.banner h2{
    color: black;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid red;
}

/* About.html */
section{
    padding: 50px 0;
}

section h3{
    text-align: center;
    padding: 20px 0;
    color: red;
    margin-bottom: 20px;
}

.about{
    padding-bottom: 100px;
}

.about p{
    color: black;
    word-spacing: 2px;
    line-height: 25px;
}

section h4{
    text-align: center;
    color: yellow;
    padding: 20px 0;
    margin-bottom: 20px;
}

.about p{
    color: tomato;
    white-space: 2px;
    line-height: 25px;
}

/* Javascript Loader */
.bg-loader{
    background-color: turquoise;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: red;
    animation: puter .8s linear infinite;
}

.buku-tamu{
    border: black solid 2px;
}

/* Label */
.label{
    background-color: yellow;
    color: black;
}

/* Javascript Loader */
@keyframes puter{
    100%{
        transform: rotate(360deg);
    }
}